body{
    background-color: rgb(255, 234, 198);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
.info{
    font-size: 20px;
    color:green;
    font-weight: 800;
}
#media{
    color:green;
    background-color: rgb(241, 233, 137);
}
a{
    font-style: oblique;
}
h1{
    color: rgb(174, 52, 185);
    font-weight: 900;
    text-align: center;
}
.description{
    color: brown;
    font-size: large;
    border: 20px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
}
.content{
    display: flex;
    width: 100%;
    background-color: rgb(141, 243, 109);
    border-radius: 15px;
}
.content-left, .content-right{
    width: 50%;
}
.content-right{
    justify-content: right;
    border: 5px solid white;
    margin: 10px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.content-right img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}
.content-left{
    border: 20px solid rgb(72, 45, 228);
    margin: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("background for div.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.header{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.header a{
    color: aliceblue;
    margin-right: 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(105, 243, 153);
}
.block{
    background-color: rgb(153, 232, 232);
    height: 200px;
    width: 200px;
}
.center-image{
    width: 200px;
}
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(243, 105, 153);
}
.block-2{
    background-color: rgb(153, 232, 232);
    height: 200px;
    width: 200px;
}
.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    border: 20px solid rgb(124, 114, 4);
    height: 400px;
    background-color: rgb(215, 243, 105);
}
.block-3{
    background-color: rgb(87, 44, 160);
    height: 200px;
    width: 200px;
}
.position-container{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid black;
    position: relative;
    margin: 50px auto;
}
.box{
    width: 150px;
    height: 150px;
    position: absolute;
    border: 2px solid;
}
.red {
    border-color: rgb(255, 0, 0);
    top: 20px;
    left: 20px;
    
}
.blue {
    border-color: rgb(0, 0, 255);
    top: 100px;
    left: 100px;
}
.green {
    border-color: rgb(0, 255, 0);
    top: 180px;
    left: 180px;
}
.fixed-image {
    position: fixed;
    bottom: 1px;
    right: 5px;
    width: 100px;
    height: 100px;
}
.fixed-image img {
    width: 100px;
    height: 100px;

}